
<header class="container-fluid">
  <div class="row">
    <div class="col-12">
      <nav class="navbar navbar-light">
        <div class="navbar-brand">Santillana's Nightmare</div>
        <ul class="navbar-nav">
          <li class="user-info">
            <span class="col-md-1 col-md-offset-2 text-center"><i class="fas fa-pencil-alt"></i></span>
            <div class="nav-avatar"
              style="background: #65c9ff url({{user.avatar}}) no-repeat center center / cover; width:30px; height:30px; display:block;">
            </div>
            <p>Hi <strong>@{{user.username}}</strong></p>
          </li>
          <li class="nav-item">
            <form id="logout-form" action="/logout" method="POST">
              <button class="nav-link">Logout</button>
            </form>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
